*, *:after, *:before {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

/*Color de la navbar*/
.blue {
  background: #1d3d69;
  color: #fff;
}
.navbar {
  padding: 10px 10%;
}

/*Color de la letra del nombre*/
#logo {
  display: inline-block;
  margin-top: 7px;
  color: #ffffff;
}

/*Color enlaces navbar*/
#link {
  color: #ffffff;
  font-weight: bold;
  margin: 0 10px;
}

/*Botón en la Navbar para el Sidebar*/
i { margin: 0 5px; }
#sidebarCollapse {
  color: #ffffff;
  background: transparent;
  outline: none;
  /*Tamaño Navbar y Padding a la izquierda*/
  margin: 0px 5px
}

#sidebarCollapse:hover {
  color: #2abdfc;
  background: rgb(255, 255, 255);
  outline: none;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
/*Sidebar*/
#sidebar {
    min-width: 200px;
    max-width: 200px;
    margin-top: 50px;
    background: #0b1e36;
    color: #fff;
    transition: all 0.5s;
}

#sidebar.active{
	margin-left: -250px;
}

#sidebar .sidebar-header{
	padding: 20px;
	background: #0b1e36;
}

#sidebar ul.components{
	padding: 20px 0px;
}

#sidebar ul p{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a{
	padding: 10px 10px 10px 20px;
	font-size: 1.1em;
	display: block;
    color: #fff;
    font-weight: bold;
}

#sidebar ul li a:hover {
    color: #2abdfc;
    background: #fff;
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #8a5fff;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    width: 100%;
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 50px;
}
@media (max-width:800px) {
  #sidebar {
    margin-left: -250px;}
  #sidebar.active{
	margin-left: 0px;
  }
  #sidebarCollapse span{
	display: none;
  }
  .card {
    width:100%;
  }
}
@media (max-width:400px) {
  #sidebar {
    margin-top: -20px;
    
  }
  #logo {
    display: none;
  }
}

/*francis los ´puse allá también porque estos no me agarran  XD*/

 .servfun {
  border-top: 1px solid #E6E6E6 ;
  border-left: 1px solid #E6E6E6 ;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6 ;
  padding: 20px;
  background-color: #E0F8F7;
  position:relative;
   }

   .servfu{
       font-style: bold;
       font-family: 'Times New Roman', Times, serif;
   }

   .busqueda{
    position: absolute;
    top: 18%;
    right: 20px;
   }
