*, *:after, *:before {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

label {
	display: block;
}

div#error2 {
	height: 20px;
	width: 20px;
	display: inline-block;
	position: relative;
	top: 18px;
  left: -87px;
}

html{
  scroll-behavior: smooth;
}

.cat{
  color: #fff;
}

.cat:hover{
  transform: scale(1.2);
  transition: all .5s ease-in-out;
}

.cat:active{
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  margin-top: 20px;
  border-radius: 20px;
}

.colorbs:hover{
  background: #a40c0c;
  border-radius: 10px;
  box-shadow: 0px 4px 0px #770909;
  position:relative;
  cursor: pointer;
  transition: all 0.5s;
}

/*Color de la navbar*/
.blue {
  background: #1d3d69;
  color: #fff;
}
.navbar {
  padding: 10px 10%;
  -moz-user-select: none;
  user-select: none;
}

/*Color de la letra del nombre*/
#logo {
  display: inline-block;
  margin-top: 7px;
  color: #ffffff;
}

/*Color enlaces navbar*/
#link {
  color: #ffffff;
  margin: 0 10px;
}

/*Botón en la Navbar para el Sidebar*/
i { margin: 0 5px; }
#sidebarCollapse {
  color: #ffffff;
  background: transparent;
  outline: none;
  /*Tamaño Navbar y Padding a la izquierda*/
  margin: 0px 5px
}

#sidebarCollapse:hover {
  color: #2abdfc;
  background: rgb(255, 255, 255);
  outline: none;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
/*Sidebar*/
#sidebar {
    min-width: 190px;
    max-width: 190px;
    margin-top: 50px;
    background: #081a2f;
    color: #fff;
    transition: all 0.5s;
    -moz-user-select: none;
    user-select: none;
}

#sidebar.active{
	margin-left: -190px;
}

#sidebar .sidebar-header{
	padding: 20px;
	background: #0b1e36;
}

#sidebar ul.components{
	padding: 20px 0px;
}

#sidebar ul p{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a{
	padding: 10px 10px 10px 20px;
	font-size: 1.1em;
	display: block;
    color: #fff;
}

#sidebar ul li a:hover {
    color: #2abdfc;
    background: #fff;
    font-weight: bold;
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #8a5fff;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    width: 100%;
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 50px;
}
@media (max-width:800px) {
  #sidebar {
    margin-left: -250px;}
  #sidebar.active{
	margin-left: 0px;
  }
  #sidebarCollapse span{
	display: none;
  }
  .card {
    width:100%;
  }
}
@media (max-width:400px) {
  #sidebar {
    margin-top: -20px;

  }
  #logo {
    display: none;
  }
}

/*francis los ´puse allá también porque estos no me agarran  XD*/

 .servfun {
  border-top: 1px solid #E6E6E6 ;
  border-left: 1px solid #E6E6E6 ;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6 ;

  background-color: #E0F8F7;
  position:relative;
   }

   .servfu{
       font-style: bold;
       font-family: 'Times New Roman', Times, serif;
   }

   .busqueda{
    position: absolute;
    top: 18%;
    right: 20px;
   }

   #IcNewServ{
    font-size:30px;
    width: 1em;
    height: 1em;
}

.masthead {
    padding-top: 3rem;
    padding-bottom: 6rem;
    color: #fff;
    background-image: url("../assets/flowers.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 650px;

}

.masthead-subheading {
    font-size: xxx-large;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-top: 30px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

 .formato {
     border-top: 1px solid #E6E6E6 ;
     border-left: 1px solid #E6E6E6 ;
     border-right: 1px solid #E6E6E6;
     border-bottom: 1px solid #E6E6E6 ;
     padding: 20px;
     background-color: #E0F8F7;
     position:relative;
     font-style: bold;
     font-family: 'Times New Roman', Times, serif;
 }

.emple {
  border-top: 1px solid #E6E6E6 ;
  border-left: 1px solid #E6E6E6 ;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6 ;
  padding: 20px;
  background-color: #E0F8F7;
  position:relative;
}

.emple{
  font-style: bold;
  font-family: 'Times New Roman', Times, serif;
}

.requerido{
    margin-top:-6px;
}

.hijo{
    font-weight: bold;
}

.modal-header{
    font-size: 20px;
    background-color: #1CB6E9;
    color: #FFFFFF;
}
.modal-body{
    font-size: 15px;
}
.modal-footer{
    font-size: 15px;}
#IcNewEmp{
    font-size:25px;
    width: 1em;
    height: 1em;
}

.xd{
    width:40%;
}
.x{
    width:65%;
    float:right;
    padding: 20px;
    position: absolute;
    top: 20%;
    right: 20px;

}

.fuente{
    font-family: 'Times New Roman', Times, serif;
}

.cuadro{
    background: rgb(252, 191, 202);
    width: 30px;
    height: 25px;
    color: rgb(252, 191, 202);
}
